// SIZES
$default-size: 16px;
$container-width: 1280px;

// BREAKPOINTS
$bp-desktop: 960px;

// COLORS
$color-violet: rgba(200, 22, 129,0.9);
$color-white: #ffffff;
$color-black: #000000;
$color-red: #A32A2A;
