// var 

@import 'var.scss';

// font

@import 'font.scss';

// reset 

@import 'reset.scss';


// mixin

@import 'mixins.scss';

/* utiles */

@import 'utils.scss';

/* component */

@import 'component/_button.scss';

/* header  */

@import 'component/_header.scss';

@import 'component/_menu-burger.scss';



/* main  */

.main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}


.main__container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.81rem;
    gap: 1rem;

}

.main__container--48{
    gap: 3rem;
}

.main__container--32{
    gap: 2rem;
}

.main__ttl{
    font-weight: bold;
    text-align: center;
}